* {
    padding: 0;
    margin: 0;
    font-family: 微軟正黑體;
}

nav {
    background: rgba(0, 0, 0, 0.5);
    height: 100px;
    position: fixed;
    width: 100%;
   

    a {
        padding: 30px;
        text-decoration: none;
        display: inline-block;
        color: rgb(255, 255, 255);
        font-size: 30px;
    }
}

section {
    height: 100vh;
    text-align: center;
    line-height: 100vh;
    font-size: 80px;
    color: rgb(189, 219, 191);

    &:nth-of-type(odd) {
        background: rgb(175, 136, 145);
    }

    &:nth-of-type(even) {
        background: rgb(123, 170, 180);
    }
}

// 箭頭樣式
#arrow {
    background-image: url(./arrow.png);
    width: 62px;
    height: 62px;
    position: fixed;
    right: 65px;
    bottom: 65px;
    z-index: 3;
    cursor: pointer;
}

